<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Knowledge</title>
</head>

<body>
    <div id='nav-placeholder'></div>
    <div class='bg-light wrapper' id="app">
        <div id='content'>
            <div v-if='structure.length != 0'>
                <div v-for='struct in structure'>
                    <div class='form-group card-body w-75 mx-auto'>
                        <div v-if="struct.header !== undefined">
                            <label for="exampleFormControlInput1"
                                class='d-flex justify-content-center p-2'>Header</label>
                            <input v-model='struct.header' type="title" class="form-control"
                                id="exampleFormControlInput1">
                        </div>
                        <div v-if="struct.body !== undefined">
                            <label for="exampleFormControlInput1" class='d-flex justify-content-center p-2'>Body</label>
                            <textarea v-model='struct.body' type="body" class="form-control"
                                id="exampleFormControlInput1" rows='10'></textarea>
                        </div>
                        <div v-if="struct.code !== undefined">
                            <label for="exampleFormControlInput1" class='d-flex justify-content-center p-2'>Code</label>
                            <textarea v-model='struct.code' type="code" class="form-control"
                                id="exampleFormControlInput1" rows='10'></textarea>
                        </div>
                    </div>
                </div>
                <button type="button" @click='createSection' class="btn btn-success">Create</button>
            </div>
            <div class='w-75 card-body mx-auto d-flex justify-content-center'>
                <button type="button" @click='addHeader' class="btn btn-success m-3">Add Header</button>
                <button type="button" @click='addBody' class="btn btn-success m-3">Add Body</button>
                <button type="button" @click='addCode' class="btn btn-success m-3">Add Code</button>
            </div>
        </div>
    </div>
    <div id='footer-placeholder'></div>


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"
        integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js"
        integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script>
        $.get("templates/navbar.html", function (data) {
            $("#nav-placeholder").replaceWith(data);
        });
        $.get("templates/footer.html", function (data) {
            $("#footer-placeholder").replaceWith(data);
        })
    </script>
    <script src="/create.js"></script>
</body>

</html>